<template>
<footer class="main_footer">
  <ul class="nav_list">
    <li class="nav_item"><router-link to="/about" class="nav_link">About</router-link></li>
    <li class="nav_item"><router-link to="/buy-sell" class="nav_link">Buy/Sell</router-link></li>
    <li class="nav_item"><router-link to="/crypto-basics" class="nav_link">Crypto Basics</router-link></li>
    <li class="nav_item"><router-link to="/support" class="nav_link">Support</router-link></li>
    <li class="nav_item"><router-link to="/terms-of-service" class="nav_link">Terms of Service</router-link></li>
    <li class="nav_item"><router-link to="/aml-and-privacy-policy" class="nav_link">AML and Privacy Policy</router-link></li>
  </ul>
  <div class="copy">
    <p>Copyright 2021 Profitrade.net</p>
  </div>
</footer>
</template>

<script>
export default {
  name: "footer"
}
</script>

<style scoped>

</style>