<template>
  <header class="main_header">
    <div class="logo_w">
      <router-link to="/home" class="nav_link">
        <img src="../assets/logo.png" alt="" class="logo">
      </router-link>

    </div>

<!--    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />-->

    <ul class="nav_list">
      <li class="nav_item"><router-link to="/buy-sell" class="nav_link">Buy/Sell</router-link></li>
      <li class="nav_item"><router-link to="/crypto-basics" class="nav_link">Crypto Basics</router-link></li>
      <li class="nav_item"><router-link to="/support" class="nav_link">Support</router-link></li>
    </ul>
    <div class="auth_btn_group">
      <button class="btn login">Log In</button>
      <button class="btn signup">Sign Up</button>
    </div>
  </header>

</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>

</style>