* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

//body {
//	display: flex;
//	flex-direction: column;
//}

#app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 50px;
}

.nav_list {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		&.router-link-exact-active {
			color: #42b983;
		}
	}
}

.main_header + div {
	flex: 1;
}

ul {
	list-style: none;
}

h1 {
	margin-top: 50px;
}